.vscode/
build
build/
dist/
dist
fastapi_rest.egg-info
fastapi_rest.egg-info/
fastapi_rest/__pycache__
fastapi_rest/__pycache__/
fastapi_rest/*/__pycache__
fastapi_rest/*/__pycache__/
fastapi_rest/*/*/__pycache__
fastapi_rest/*/*/__pycache__/
fastapi_rest/*/*/*/__pycache__
fastapi_rest/*/*/*/__pycache__/