# Include the templates directory and all its contents
include fastapi_rest/templates/*
include fastapi_rest/core/*

# If you want to include subdirectories and their contents, use the recursive syntax:
recursive-include fastapi_rest/templates *
recursive-include fastapi_rest/core *